{:paths
 ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  markdown-clj/markdown-clj {:mvn/version "1.11.4"}
  selmer/selmer {:mvn/version "1.12.58"}}
 
 :aliases
 {:render!
  {:exec-fn io.github.galuque.site-generator/render!
   :exec-args {}}}}
