;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[rum "0.12.3"]]

 :builds
 {:blog {:target :browser
         :output-dir "public/js/main"
         :assest-path "/js/main"

         :modules
         {:main
          {:init-fn codes.gjl.blog.app/init}}

         :devtools
         {:http-root "."
          :http-resource-root "public"
          :http-port 8080}}}}