* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto auto 2rem;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.sidebar {
    box-sizing: border-box;
    align-self: flex-start;
    position: sticky;
    margin-top: 3rem;
    margin-left: 2rem;
}

a {
    color:black;
}

main {
    box-sizing: border-box;
    display: inline-block;
    padding: 3rem;
}

main p {
    padding: 5px;
}