<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Gabriel Luque">
        <meta name="description" content="Personal Blog">
        <link rel="me" href="https://hachyderm.io/@gabo">
        <link rel="me" href="https://mas.to/@gabol">

        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="/img/favicon.ico">

        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">

        <style>@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');</style>    

        <title>Gabriel Luque</title>
    </head>
    <body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-element">
                <p class="sidebar-p"><strong>Gabo Luque</strong></p>
                <p class="sidebar-p">Computer guy</p>
            </div>
            <br>
            <div class="sidebar-element">
                <a href="/">Home</a>
            </div>
            <div class="sidebar-element">
                <a href="/posts/">Posts</a>
            </div>
            <div class="sidebar-element">
                <a href="/about/">About</a>
            </div> 
            <!-- <div class="sidebar-element">
                <a href="/projects/">Projects</a>
            </div> -->
        </div>
        {% safe %}
        {% if main %}
        <main>
            {{main}}
        </main>
        {%else %}
        <main>
            <h1>Welcome!</h1>
        </main>
        {% endif %}
        {% endsafe %}
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/clojure.min.js"></script>
    <script>hljs.highlightAll();</script>
    </body>
</html>